.app-wrapper {
    width: 100vw;
    height: 100vh;
  
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding: 0 80px;
    box-sizing: border-box;

    .content {
      display: flex;
      justify-content: center;
    }
    .footer {
      margin-bottom: 36px;
    }
}

.loading {
  width: 100%;
  min-height: 200px;
}
@media (max-width:768px) {
  // #app {
  //   min-height: 100vh;
  // }
  .app-wrapper {
    height: auto;

    padding:0;
    overflow: hidden;
    .content {
      order:3;
      display: block;
    }
    .footer {
      order:1;
      margin:0;
    }
  }
}