.header {
    overflow: hidden;
    display:flex;
    align-items: center;
    .logo {

        width: 262px;
        margin-top:29px;
        img {
            width: 100%;
        }
    }
    .title {
        flex-grow:2;
        font-family: Alibaba PuHuiTi;
        font-weight: bold;
        font-size: 72px;
        line-height: 100px;
        text-align: center;
       background-image: linear-gradient(to bottom, rgba(0,0,0,.7), rgba(0,0,0,.3));
       -webkit-background-clip: text;
        position: relative;
        color: transparent;
        &::after {
            content: attr(text);
            position: absolute;
             background-image: linear-gradient(to bottom, #DCA859, #EED3AA);
             -webkit-background-clip: text;
            left:50%;
            transform: translateX(-50%);
            top:-3px;
        }
        &::before {
            content: attr(text);
            position: absolute;
             background-image: linear-gradient(to bottom, #fff, #fff);
             -webkit-background-clip: text;
            left:50%;
            transform: translateX(-50%);
            top:-5px; 
        }
    }
    .sub-logo {
        &.flex-grow {
            flex-grow:1;
        }
        text-align: center;
        margin-top:39px;
    }
    .sub-logo {
        display:none;
    }
    &.life {
        .sub-logo {
            display:block

        }
        
    }
}


@media (max-width:768px) {
    .header {
        display: flex;
        text-align: center;
        padding:20px 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .logo {
            width:200px;
            margin-top:20px;
        }

    }
}